.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 5px 10px;
}

.tabs :global(.ant-tabs-nav) {
  margin: 0;
}

.tabs :global(.ant-tabs-nav::before) {
  display: none;
}

.tabs :global(.ant-tabs-ink-bar) {
  display: none;
}

.profile {
  
}

:global(.ant-avatar) {
  background-color: gray;
}